/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Diego Sandoval
   Date:   15/1/19

   Filename: sb_validate.css

*/


/* Validation Styles */
/* This changes the background color when the input, select or textarea is in use. */
input:focus:not([type='radio']) {
    background: rgb(255, 218, 165);
}

/* This shows if the information is vaild. */
input:focus:valid:not([type='radio']) {
    background: rgb(215, 218, 165) url(sb_valid.png) bottom right/contain no-repeat;
}

/* This shows if the information is invaild. */
input:focus:invalid:not([type='radio']) {
    background: rgb(255, 245, 215) url(sb_invalid.png) bottom right/contain no-repeat;
}